/* programs.anyrun.extraCss = */

/* og src: github:InfiniteNightmare/nix-config ? */

/*
for testing:   background: linear-gradient(to right,transparent,red), linear-gradient(to bottom,transparent,green);
*/


* {
	all: unset;
	font-family: JetBrains Mono;
	font-size: 1.3rem;
}

window,
.match,
text,
list,
box {
	background: transparent;
}

row {
	border-radius: 16px;
	padding: .3rem .9rem;
	margin-top: .01rem;
}
row:first-child {
	margin-top: .7rem;
}
row:last-child {
	margin-bottom: .6rem;
}

list:hover row {
	border-radius: 10px;
	padding: .3rem;
	margin-top: .01rem;
	margin-bottom: 0;
}

row:selected,
row:hover,
list:hover {
	background: rgba(255, 255, 255, .1);
}

text {
	background: rgba(255, 255, 255, .05);
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: 16px;
	margin: .5rem;
	padding: .3rem 1rem;
}

list {
	border-radius: 16px;
	margin: 0 .3rem;
}
list:first-child {
	margin-top: .3rem;
}
list:last-child {
	margin-bottom: .3rem;
}
list:hover {
	padding: .6rem;
}

box.main {
	background: rgba(0, 0, 0, .8);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .1), 0 0 0 1px rgba(0, 0, 0, .5);
	border-radius: 24px;
	padding: .5rem;
}

image.info {
	padding: 1.4rem .5rem 1.4rem 1rem;
}
label.info {
	padding: 1.4rem 1rem 1.4rem .5rem;
}
