/** dmyTRUEk's Waybar CSS file */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: Minecraftia, JetBrains Mono Nerd Font, Source Han Serif Heavy, sans-serif;
    font-size: 13px;
}



#waybar {
    background: rgb(0, 0, 0); /* 40, 40, 40 */
    /* color: rgb(255, 255, 255); */
}
#waybar.empty,
#waybar.floating
/* #waybar.solo */
{
    background: transparent;
    /* opacity: 0.5; */
}



#workspaces button {
    color: rgb(255, 255, 255);
    padding-bottom: 1px;
    padding-top:    1px;
    padding-left:  14px;
    padding-right: 14px;
    box-shadow: inset 0 0px rgb(0, 0, 0);
    transition-duration: 0s;
}
#workspaces button.focused {
    background: rgba(80, 80, 80, 0.4); /* 16, 16, 16, 0.4 */
}
#workspaces button.focused:hover {
    background: rgba(80, 80, 80, 0.5); /* 16, 16, 16, 0.4 */
}
#workspaces button:hover {
    background: rgba(80, 80, 80, 0.2); /* 16, 16, 16, 0.2 */
    /* text-shadow: inherit; */
    /* box-shadow: inherit; */
}
/* #workspaces button.urgent { */
/*     /1* border-color: #c9545d; *1/ */
/*     color: #c9545d; */
/* } */

/* #custom-media, */
/* #disk, */
/* #idle_inhibitor, */
/* #keyboard-state, */
/* #scratchpad, */
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#window
{
    color: rgb(255, 255, 255);
    padding-left:  12px;
    padding-right: 12px;
    /* margin: 0 0px; */
    /* fix: remove animations */
    transition-duration: 0s;
    background: transparent;
    box-shadow: inset 0 0px rgb(0, 0, 0);
}



#memory.75 { color: rgb(100%, 95%, 95%); }
#memory.76 { color: rgb(100%, 90%, 90%); }
#memory.77 { color: rgb(100%, 85%, 85%); }
#memory.78 { color: rgb(100%, 80%, 80%); }
#memory.79 { color: rgb(100%, 75%, 75%); }
#memory.80 { color: rgb(100%, 70%, 70%); }
#memory.81 { color: rgb(100%, 65%, 65%); }
#memory.82 { color: rgb(100%, 60%, 60%); }
#memory.83 { color: rgb(100%, 55%, 55%); }
#memory.84 { color: rgb(100%, 50%, 50%); }
#memory.85 { color: rgb(100%, 45%, 45%); }
#memory.86 { color: rgb(100%, 40%, 40%); }
#memory.87 { color: rgb(100%, 35%, 35%); }
#memory.88 { color: rgb(100%, 30%, 30%); }
#memory.89 { color: rgb(100%, 25%, 25%); }
#memory.90 { color: rgb(100%, 20%, 20%); }
#memory.91 { color: rgb(100%, 15%, 15%); }
#memory.92 { color: rgb(100%, 10%, 10%); }
#memory.93 { color: rgb(100%,  5%,  5%); }
#memory.94 { color: rgb(100%,  0%,  0%); }
#memory.95 { color: black; background-color: red; }

#cpu.00 { color: rgb(100%,100%,100%); }
#cpu.10 { color: rgb(100%, 90%, 90%); }
#cpu.20 { color: rgb(100%, 80%, 80%); }
#cpu.30 { color: rgb(100%, 70%, 70%); }
#cpu.40 { color: rgb(100%, 60%, 60%); }
#cpu.50 { color: rgb(100%, 50%, 50%); }
#cpu.60 { color: rgb(100%, 40%, 40%); }
#cpu.70 { color: rgb(100%, 30%, 30%); }
#cpu.80 { color: rgb(100%, 20%, 20%); }
#cpu.90 { color: rgb(100%, 10%, 10%); }
#cpu.95 { color: rgb(100%, 00%, 00%); }

#temperature {
    padding-left: 6px;
    /* padding-right: 12px; */
}
#temperature.warning {
    color: red;
}
#temperature.critical {
    padding-left: 12px;
    color: black;
    background-color: red;
}



#mode {
    background: rgb(255, 127, 0);
    color: rgb(0, 0, 0);
}



#battery.charging {
    color: rgb(205, 255, 205);
}
#battery.critical:not(.charging) {
    background-color: red;
    color: black;
}

